/**********************************************
*Description:  Navigation Style sheet for Cyndi Jennings Professional Website
*Athhor:         Cyndi jennings
**********************************************/

nav {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 11%;
    width: 100%;
    background-color: #023047;
    position: fixed;}

nav ul li {
    float: left;
    width: 170px;
    list-style-type: none;
    position: relative;
}

nav li a {
    display:inline-block;
    width: 90%;
    line-height: 200%;
    text-align: center;
    color: #e7e6e0;
    text-decoration: none;
    background-color: #023047;
    font-size: 1.2em;
    padding: 1%;
    border-radius: 50%;}

#drop {display: none;
        position: relative;
        left: 0;
        top: 100%}

#drop li a {background-color: #023047;
            padding: 2%;
            margin-top: 0;
            border-radius: 0;}

nav li:hover #drop {display:block;}

nav li a:hover{color: #fab531;}    
    
nav a.active {background-color: #ed5958;
                font-size: 1.4em;}    
    
    
 
  
    
   