/**********************************************
*Description:  Navigation Style sheet for Cyndi Jennings Professional Website
*Athhor:         Cyndi jennings
**********************************************/

nav {
    height: 36px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #113245;
    padding-top: 40px;}

nav ul {list-style-type: none;
        margin:0;
        padding: 0;
        top: 0;
        left: 0;}

nav a {
    float: left;
    display: block;
    color: #e7e6e0;
    padding: 4px 30px 4px 30px;
    text-decoration: none;
    font-size: 25px;    
    }

nav a:hover {color: #f2b531;}
nav a.active {background-color: #ed5958;}
  
    
   