/**********************************************
*Description:  Primary Style sheet for Cyndi Jennings Professional Website
*Athhor:         Cyndi jennings
**********************************************/

body {
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #e7e6e0;
    position: relative;}

h1 {color: #023047;
    font-size: 3.125em; 
    text-align: center;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    border: 1px solid #023047;
    background-color: #f2b531;
    padding: .97%;
    margin-top: 7%;}

h3 {color: #023047;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 1.75em;
    padding-left: 2.14%;
    padding-right: 2.14%;
    padding-bottom: 1%;
    border-bottom: 2px solid #023047;}
    

h4 {font-size: 1.50em;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-weight: bolder;
    margin-bottom: 1%;
    margin-top: 2%;}

#about {border: 2px solid #023047;
    margin-top: 1.5%;}

#about h4 {text-align: center;}

#about p {font-size: 1.4em;}

img {width: 300px;
    float: right;
    padding: 2%;
    margin: 2% 0% 2% 3%;
    background-color: #03878f;
    border: 1px solid #023047;}

#edu, #exp, #quote {clear: right;
            padding-left: 6%;
            }


#edu li {font-size: 1.2em;
         color: #023047;}

#exp li {font-size: 1.3em;
        margin-left: 10%;
        color: #03878f;
        list-style: square;}
    
p {color: black;
   font-size: 1.25em;
   margin-left: 5%;
   margin-right: 5%;}

p:first-of-type::first-letter {font-size: 2em;}
p:nth-of-type(n+1){text-indent: 2%;}

blockquote {font-size: 1.125em;}

footer {font-size: 12pt;
        border-top: 1px solid #023047;
        padding-top: 1.5%;
        text-align: right;}

footer a:link {color: forestgreen;
                text-decoration: none;
                font-size: 10pt;}

footer a:hover, a:focus {color: indianred;}

footer a:visited, a:active {color: darkred;}




