/**********************************************
*Description:  Primary Style sheet for Cyndi Jennings Professional Website
*Athhor:         Cyndi jennings
**********************************************/



h1 {color: #006699; 
    }

footer {font-size: 9pt}
a:link {color: forestgreen; text-decoration: none; font-size: 10pt}
a:hover {color:indianred;}